:root{
    --main-color: #0B28FA;
    --shadow-color: #14108C;
    --secondary-color: #19174a;
  }

/* Style About */
#about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100%;
}


#about #principalAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 5px;
    padding: 5px;

    width: 80%;
    height: 20%;
}

#about #principalAbout h3{
  width: 100%;
  height: 30%;

  font-size: 30px;
  font-weight: 700;

  margin: 5px;
  padding: 5px;

  text-align: center;
}

#about #principalAbout #aboutParraf{
  width: 100%;
  height: 60%;

  font-size: 20px;
  font-weight: 500;

  margin: 5px;
  padding: 5px;

  text-align: justify;
}

/* Skills */

#about #skills{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 60%;
}

/* Section Knowledge */

#about #skills #sectionKnowledge{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 25%;

    overflow: hidden;
}	

#about #skills #cardKnowledge{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: moverTarjetas 30s linear infinite;
  width: 80%;
  height: 100%;
}

@keyframes moverTarjetas {
  0% {
    transform: translateX(130%);
  }
  100% {
    transform: translateX(-150%);
  }
}

#about #skills #sectionKnowledge h3{
    width: 30%;
    height: 100%;

    overflow: hidden;

    font-size: 30px;
    font-weight: 700;

    margin: 0;
    padding: 0 0 0 20px;

    z-index: 1;

    text-align: center;
}

#about #skills #cardKnowledge #card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 5px;
    padding: 5px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px var(--shadow-color);
    flex: 0 0 auto;
    width: 250px;
    height: 20%;
    margin: 0 10px;

    
    transition: all 1s ease;
  }

#about #skills #cardKnowledge #card:hover{
    transform: scale(1.25);
    height: 70%;
    cursor: pointer;
}

#about #skills #cardKnowledge #card:hover #cardKnowledge{
    animation-play-state: paused;
}

#about #skills #cardKnowledge #card svg{
  width: 60%;
  height: 60%;
}

/* Section Capabilites */

#about #skills #sectionCapabilities{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 50%;

    overflow: hidden;
}

#about #skills #sectionCapabilities h3{
  width: 30%;
  height: 30%;

  overflow: hidden;

  font-size: 30px;
  font-weight: 700;

  margin: 0;
  padding: 0 0 0 20px;

  z-index: 1;

  text-align: center;
}

#about #skills #cardCapabilites{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: moveTarjetCapabilities 25s linear infinite;
  width: 80%;
  height: 100%;
}

@keyframes moveTarjetCapabilities {
  0% {
    transform: translateX(-130%);
  }
  100% {
    transform: translateX(150%);
  }
}

#about #skills #cardCapabilites #card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 5px;
    padding: 5px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px var(--shadow-color);
    flex: 0 0 auto;
    width: 250px;
    height: 20%;
    margin: 0 10px;

    
    transition: all 1s ease;
  }

#about #skills #cardCapabilites #card:hover{
    transform: scale(1.25);
    height: 70%;
    cursor: pointer;
}

#about #skills #cardCapabilites #card:hover #cardCapabilites{
    animation-play-state: paused;
}

#about #skills #cardCapabilites #card svg{
  width: 60%;
  height: 60%;
}