:root{
    --main-color: #0B28FA;
    --shadow-color: #14108C;
  }

/* Style Home */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    height: 75vh;
    width: 100%;
}

#home #content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#home #content #text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;

    margin: 0;
    padding: 0;
}

#home #content #text h3{
  width: 100%;
  height: 10%;

  font-size: 30px;
  font-weight: 700;

  margin: 5px;
  padding: 5px;

  text-align: justify;
}

#home #content #text h3 b{
  color: var(--shadow-color);
}

#home #content #text #welcomeParraf{
  width: 100%;
  height: 20%;

  font-size: 20px;
  font-weight: 400;

  margin: 5px;
  padding: 5px;

  text-align: justify;
}

#cabalities {
  border-right: .15em solid orange;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

#home #content #text #target-presentation{
  background-color: transparent;

  width: 100%;
  height: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#home #content #text #target-presentation #cardPresentation{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  overflow: hidden;

  margin: 10px;
  padding: 10px;

  width: 30%;
  height: 30px;

  border-radius: 20px;
  border: 1px solid var(--shadow-color);
  box-shadow: 5px 5px 5px var(--shadow-color);

  transition: all 1s ease;
}

#home #content #text #target-presentation #cardPresentation:hover{
  transform: scale(1.1);
  height: 170px;
  cursor: pointer;
  background-color: var(--shadow-color);
}

#home #content #text #target-presentation #cardPresentation h3{
  background-color: transparent;

  text-align: center;
  font-size: 20px;
}

#home #content #text #target-presentation #cardPresentation p{
  display: none;
  background-color: transparent;
  font-size: 10px;
}

#home #content #text #target-presentation #cardPresentation:hover p{
  display: block;
  color: white;
}

#home #content #img{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40%;
  height: 100%;

  margin: 0;
  padding: 0;
}

#home #content #img img{
  border-radius: 50%;
}